
/* Footer  */

.footer {
    margin-top: 8rem;
    background: #2d4a7c;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.logo-img{
    margin-top: 0.4rem;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.footer-box h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.underline {
    width: 40px;
    height: 3px;
    background: #ff2e63;
    display: block;
    margin-bottom: 20px;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    color: #d6d6ff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.footer-box p {
    color: #d6d6ff;
    margin-bottom: 10px;
    font-size: 15px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #ff2e63;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
}