/* Footer */
.footer {
  margin-top: 6rem;
  background: #2d4a7c;
  color: #ffffff;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
  text-align: center;
}

.logo-img {
  width: 90px;
  height: auto;
  margin-bottom: 1rem;
}

.footer-box h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.footer-box p {
  color: #d6d6ff;
  font-size: 15px;
  line-height: 1.6;
}

.underline {
  width: 40px;
  height: 3px;
  background: #ff2e63;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  color: #d6d6ff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #ffffff;
  padding-left: 6px;
}

.footer-bottom {
  text-align: center;
  padding: 16px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*  Tablet Responsive */

@media (max-width: 1024px) {
  .footer-container {
    text-align: center;
  }

  .underline {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile Responsive*/

@media (max-width: 480px) {
  .footer {
    margin-top: 4rem;
  }

  .footer-container {
    gap: 2rem;
  }

  .logo-img {
    margin-left: auto;
    margin-right: auto;
  }
}