html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#eaf1ff, #ffffff);
    background-image: url("https://www.transparenttextures.com/patterns/clouds.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #2d3748;
}

.logo a {
    text-decoration: none;
    color: #2d3748;
}

.cloud-icon {
    width: 42px;
    height: 42px;
    background: linear-gradient(135deg, #4299e1, #3182ce);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.container {
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.card {
    width: 360px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.514);
}

.input-box {
    display: flex;
    align-items: center;
    background: #f3f5ff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.input-box span {
    margin-right: 10px;
}

.input-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #f4b400;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background: #e0a800;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 12px 0;
}

.options a {
    color: #3b5cff;
    text-decoration: none;
}

.divider {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #777;
}

.google-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.google-btn img {
    width: 20px;
}

.signup {
    font-size: 14px;
    margin-top: 20px;
}

.signup a {
    color: #f4b400;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

/* Responsive Tablet  */

@media (max-width: 1024px) {
    .card {
      width: 650px;
    }
  } 
  
  /* Responsive Mobile */
  
   @media (max-width: 480px) {
    .card {
      width: 350px;
    }
  } 