/* ScrollBar  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4c6eb5, #3b5998);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #4299e1, #3182ce);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(#eaf1ff, #ffffff);
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.container h1 {
  /* color: #2d4a7c; */
  color: #3b5998;
  margin-bottom: 5px;
}

.updated {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Sections */
section {
  margin-bottom: 20px;
}

section h3 {
  color: #333;
  margin-bottom: 8px;
}

section p,
section ul {
  color: #555;
  line-height: 1.6;
}

section ul {
  margin-left: 20px;
}
